HTML
<!DOCTYPE html>
<html>
<span
class="cherry-search__message"></span></div></div></div><span
class="search-form__close"></span></div></div></div><div
class="header-container_wrap gradient invert"><div
class="container"><div
class="header-container__flex"><nav
id="site-navigation" class="main-navigation" role="navigation"><ul
id="main-menu" class="menu accessibility_menu"><li
id="menu-item-2053" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-2053"><a
href="https://www.unach.edu.ec/" aria-current="page">LA UNIVERSIDAD</a><ul
class="sub-menu"><li
id="menu-item-26691" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26691"><a
href="https://www.unach.edu.ec/atencion-telematica/">Atención Telemática</a></li><li
id="menu-item-12289" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12289"><a
href="https://www.unach.edu.ec/nosotros_ele/">NOSOTROS</a></li><li
id="menu-item-12318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12318"><a
href="https://www.unach.edu.ec/planificacion_institucional_/">PLANIFICACIÓN INSTITUCIONAL</a></li><li
id="menu-item-12337" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12337"><a
href="https://www.unach.edu.ec/evaluacion-para-el-aseguramiento-de-la-calidad-institucional/">EVALUACIÓN PARA EL ASEGURAMIENTO DE LA CALIDAD INSTITUCIONAL</a></li><li
id="menu-item-12350" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12350"><a
href="https://www.unach.edu.ec/gaceta-universitaria/">GACETA UNIVERSITARIA</a></li></ul></li><li
id="menu-item-5043" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5043"><a>GESTIÓN</a><ul
class="sub-menu"><li
id="menu-item-12394" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12394"><a
href="https://www.unach.edu.ec/vicerrectorado-administrativo/">VICERRECTORADO ADMINISTRATIVO</a></li><li
id="menu-item-12399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12399"><a
href="https://www.unach.edu.ec/rendicion-de-cuentas-ele/">RENDICIÓN DE CUENTAS</a></li><li
id="menu-item-12437" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12437"><a
href="https://www.unach.edu.ec/ejecucion-presupuestaria/">EJECUCIÓN PRESUPUESTARIA</a></li><li
id="menu-item-12442" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12442"><a
href="https://www.unach.edu.ec/oferta-laboral-ele/">OFERTA LABORAL</a></li></ul></li><li
id="menu-item-2059" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2059"><a
href="#">ACADEMIA</a><ul
class="sub-menu"><li
id="menu-item-12460" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12460"><a
href="https://www.unach.edu.ec/vicerrectorado-academico-ele/">VICERRECTORADO ACADÉMICO</a></li><li
id="menu-item-12471" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12471"><a
href="https://www.unach.edu.ec/admision-y-nivelacion/">ADMISIÓN Y NIVELACIÓN</a></li><li
id="menu-item-12666" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12666"><a
href="https://www.unach.edu.ec/oferta-pre-grado/">OFERTA PREGRADO</a></li><li
id="menu-item-12536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12536"><a
href="https://www.unach.edu.ec/oferta-de-posgrado-2/">OFERTA DE POSGRADO</a></li><li
id="menu-item-12540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12540"><a
href="https://www.unach.edu.ec/calendario-academico-ele/">CALENDARIO ACADÉMICO</a></li></ul></li><li
id="menu-item-4402" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4402"><a>INVESTIGACIÓN</a><ul
class="sub-menu"><li
id="menu-item-28069" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28069"><a
target="_blank" rel="noopener noreferrer" href="http://editorial.unach.edu.ec/index.php/Editorial/catalog">CATÁLOGO DE PUBLICACIONES</a></li><li
id="menu-item-12562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12562"><a
href="https://www.unach.edu.ec/vicerrectorado-de-investigacion-vinculacion-y-posgrado-ele/">VICERRECTORADO DE INVESTIGACIÓN, VINCULACIÓN Y POSGRADO</a></li><li
id="menu-item-12561" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12561"><a
href="https://www.unach.edu.ec/gestion-de-la-investigacion-ele/">GESTIÓN DE LA INVESTIGACIÓN</a></li></ul></li><li
id="menu-item-12582" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12582"><a
href="https://www.unach.edu.ec/vinculacion/">VINCULACIÓN</a></li><li
id="menu-item-12075" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12075"><a>TRANSPARENCIA</a><ul
class="sub-menu"><li
id="menu-item-24089" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-24089"><a
href="https://www.unach.edu.ec/2020-2/">2020</a></li><li
id="menu-item-11188" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11188"><a
href="https://www.unach.edu.ec/2019-2/">2019</a></li><li
id="menu-item-11196" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11196"><a
href="https://www.unach.edu.ec/2018-2/">2018</a></li><li
id="menu-item-11399" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11399"><a
href="https://www.unach.edu.ec/2017-2/">2017</a></li><li
id="menu-item-11404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11404"><a
href="https://www.unach.edu.ec/2016-2/">2016</a></li><li
id="menu-item-11408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11408"><a
href="https://www.unach.edu.ec/2015-2/">2015</a></li><li
id="menu-item-11417" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11417"><a
href="https://www.unach.edu.ec/2014-2/">2014</a></li><li
id="menu-item-11416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11416"><a
href="https://www.unach.edu.ec/2013-2/">2013</a></li><li
id="menu-item-11415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11415"><a
href="https://www.unach.edu.ec/2012-2/">2012</a></li></ul></li><li
id="menu-item-12074" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-12074"><a>MÁS DE LA U</a><ul
class="sub-menu"><li
id="menu-item-19869" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19869"><a
href="https://www.unach.edu.ec/unach-en-cifras/">UNACH EN CIFRAS</a></li><li
id="menu-item-12588" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12588"><a
href="https://www.unach.edu.ec/auditoria-interna-2/">AUDITORÍA INTERNA</a></li><li
id="menu-item-12595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12595"><a
href="https://www.unach.edu.ec/bienestar-estudiantil-y-universitario-2/">BIENESTAR ESTUDIANTIL Y UNIVERSITARIO ( BECAS Y AYUDAS ECONÓMICAS ) )</a></li><li
id="menu-item-12599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12599"><a
href="https://www.unach.edu.ec/comunicacion-institucional/">COMUNICACIÓN INSTITUCIONAL</a></li><li
id="menu-item-12620" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12620"><a
href="https://www.unach.edu.ec/relaciones-internacionales/">RELACIONES NACIONALES E INTERNACIONALES</a></li><li
id="menu-item-12630" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12630"><a
href="https://www.unach.edu.ec/redipe-ele/">REDIPE</a></li><li
id="menu-item-12629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12629"><a
href="https://www.unach.edu.ec/coordinacion-de-compras-publicas-ele/">COORDINACIÓN DE COMPRAS PÚBLICAS</a></li><li
id="menu-item-13891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13891"><a
href="https://www.unach.edu.ec/formatos-y-formularios-ele/">FORMATOS Y FORMULARIOS</a></li><li
id="menu-item-20683" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20683"><a
target="_blank" rel="noopener noreferrer" href="https://www.fomentoacademico.gob.ec/">INSTITUTO DE FOMENTO AL TALENTO HUMANO</a></li><li
id="menu-item-26085" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26085"><a
href="https://www.unach.edu.ec/webinars/">WEBINARS</a></li></ul></li></ul></nav></div></div></div></div></header><div
id="content" class="site-content"><div
class="site-content_wrap"><div
class="row"><div
id="primary" class="col-xs-12 col-md-12"><main
id="main" class="site-main" role="main"><article
id="post-173" class="post-173 page type-page status-publish hentry no-thumb"><header
class="entry-header"><h1 class="entry-title screen-reader-text">inicio</h1></header><div
class="entry-content"><div
class="tm_builder_outer_content" id="tm_builder_outer_content"><div
class="tm_builder_inner_content tm_pb_gutters3"><div
class="tm_pb_section  tm_pb_section_0 tm_section_regular tm_section_transparent"><div
class=" row tm_pb_row tm_pb_row_0"><div
class="tm_pb_column tm_pb_column_4_4  tm_pb_column_0 col-xs-12 col-sm-12 col-md-12 col-xl-12 col-lg-12 tm_pb_vertical_alligment_start"><div
class="tm_pb_slider tm_pb_slider_0 tm_pb_slider_fullwidth_off tm_pb_slider_full_height   tm_slider_auto tm_slider_speed_21000 tm_slider_auto_ignore_hover  tm_pb_slider_show_image tm_pb_module"><div
class="tm_pb_slides"><div
class="tm_pb_slide tm_pb_bg_layout_light tm_pb_media_alignment_center tm_pb_slide_0 tm-pb-active-slide" style='background-color:#ffffff;background-image:url(https://www.unach.edu.ec/wp-content/uploads/2020/10/convocatoria_personal_docente_NO_TITULAR.web_-2-scaled.jpg);'><div
class="tm_pb_container clearfix"><div
class="tm_pb_container_inner"><div
class="tm_pb_slide_description"><div
class="tm_pb_slide_description_inner"><div
class="tm_pb_slide_content"></div>
<a
</html>
