<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<!--script src="/static/js/index.js"></script-->
<title>EMBEBIDOS</title>
</head>
<body>

<h1>Control de sensores</h1>
<h1>Sensor1:</h><h id="sensor1">--</h1>
<h1>Sensor2:</h><h id="sensor2">--</h1>
<input type="text" id="clave"></input>
<button type="button" onclick="leer();">Leer estado</button>
<button type="button" onclick="setpass();">Cambiar clave</button>


</body>
</html>